html, body {
    color: #555;
    background: #FFF;
    /*background: linear-gradient(to bottom right, #8E2DE2, #4A00E0);*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;    */
}

/* ===============
   Wave Border
   =============== */

.wave-border {
    width: 100%;
    height: 50px;
    position: relative;
}

.wave-border-inverse {
    width: 100%;
    height: 50px;
    position: relative;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.wave {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.wave + .wave {
    z-index: 2;
}


/* ============
   Cropper
   ============ */

.cropper-view {    
    width: 100%;
    max-width: 300px;
    margin: 10px 0 0 0;
    display: inline-block;
    /*display: none;*/
}

.cropper-view .image-view > .thumbnail-view {
    width: 100%;
}

.cropper-center { display: none; }
.cropper-view-box { outline: 4px solid #ffffff; }
.cropper-line { background-color: rgba(255, 255, 255, 0); }
.cropper-point {
    background-color: rgba(255, 255, 255, 0);
}
.cropper-dashed, .cropper-modal { opacity: 0.7 }

/* =================
   Results
   ================= */

#results {
    display: none;
}

.results {
    max-width: 600px;
    margin: 10px 10px 0 10px;
    padding: 0 20px 20px 20px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
}

.results .label {    
    margin-top: 20px;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.results a {
    color: #555;
    text-decoration: none;
}

.results .divider {
    width: 100%;
    height: 1px;
    margin: 20px auto 0 auto;
    background: #eee;
}

/* =================
   Detection Results
   ================= */

#results_detection {
    display: none;
}

#detection_list {
    margin-top: 10px;
    text-align: left;
}

#detection_list .item {    
    display: inline-block;
    font-size: 12px; 
}

#detection_list a {
    display: inline-block;
    margin: 10px 10px 0 0;
    padding: 5px 10px 5px 10px;    
    background: rgba(0, 0, 0, 0.05);
}

#detection_list .select > a {
    background: #9F6DFA;
    color: #fff;
}

/* ======================
   Classification Results
   ====================== */

#results_classification {
    display: none;
    text-align: left;
}

#results_classification > .details-list {
    margin-top: 5px;
}

#results_classification .item {    
    margin: 10px 10px 0 0;
    padding: 0;
    font-size: 14px;
    display: inline-block;    
}

#results_classification .item > .type {    
    font-size: 12px;    
}

#results_classification .item > .value {        
    color: #9F6DFA;
    font-weight: 600;
}

#attribute_list {
    display: none;
    text-align: left;
    margin-top: 5px;
}

#attribute_list > .item {
    margin: 10px 20px 0 0;
    font-size: 14px;
    display: inline-block;    
}

#attribute_list .item .label {
    font-size: 12px;
}

#attribute_list .item .value {
    color: #9F6DFA;
    font-weight: 600;
}

/* ==============
   Details
   ============== */

#details {
    width: 100%;
    padding: 20px 20px 10px 20px;
    display: none;
    box-sizing: border-box;
    text-align: left;
    font-size: 14px;
    background: #fff;        
    border: 2px solid #eee;
}

#details > .label {
    text-align: left;
    font-weight: 600;
}

#details > .label.small {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
}

#details .category-list .label {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
}

#details .divider {
    width: 100%;
    height: 1px;
    margin: 20px auto 0 auto;
    background: #eee;
}

#details .gender, .category {
    margin: 0 5px 10px 0;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    font-size: 12px;    
    text-decoration: none;
    background: #ccc;
    color: #fff;
    /*border-radius: 3px;*/
}

#details .gender.select, .category.select {
    background: #9F6DFA;
    color: #fff;
}

/* ==============
   Search Results
   ============== */

.mode {
    display: inline-block;
    margin-left: 30px;
}

.mode > label {
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
}

.pretty.p-default:not(.p-fill) input:checked~.state.p-primary-o label:after {
    background-color: #9F6DFA !important;
}

.pretty input:checked~.state.p-primary-o label:before, .pretty.p-toggle .state.p-primary-o label:before {
    border-color: #9F6DFA;
    border-top-color: #9F6DFA;
    border-right-color: #9F6DFA;
    border-bottom-color: #9F6DFA;
    border-left-color: #9F6DFA;
}

.blank-space {
    /*display: block;*/
    /*min-height: 960px;*/
    /*height: 960px;*/
}

#results_search {
    display: none;
}

#search_list {
    /*background: blue;*/
}

#results_search > .label {
    text-align: left;
    font-weight: 600;
}

/* ======
   Grid Item
   ====== */

.grid-sizer {
    width: 49%;
}

.gutter-sizer { 
    width: 2%; 
}

.grid-item {
    width: 49%;
    margin-bottom: 2%;
    box-sizing: border-box;
    background: #FFF;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border: 2px solid #ececec;
}

.grid-item .thumbnail {
    width: 100%;
    height: 200px;
    display: block;
    background-size: cover;    
}

.view-button {    
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 5px;
    background: #9F6DFA;
}

.grid-item .view-button > img {
    width: 20px;
    height: 20px;
    margin: 10px;
}

.grid-item > .name {
    padding: 10px;
    max-height: 2.8em;
    min-height: 2.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.grid-item > .name > a {
    font-size: 12px;
    color: #555;
    text-decoration: none;
    word-break: break-all;
}

.grid-item > .price {
    padding: 0 10px 10px 10px;
    text-align: right;
}

.grid-item .price > a {
    font-size: 12px;
    color: #9F6DFA;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .grid-sizer { width: 13.4%; }
    .grid-item { width: 13.4%; margin-bottom: 1%; }
    .gutter-sizer { width: 1%; }
    .view-button { display: none; }
    .grid-item:hover .view-button { display: inline-block; }
}

/* ======
   Button
   ====== */

.analyze-button {
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin-top: 30px;
    display: block;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    font-weight: 200;
    font-size: 11px;
    border-radius: 45px;
}

/* ======
   Effect
   ====== */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    animation-duration:0.5s;
}

/* ======
   Loader
   ====== */

.loader-modal {
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 0 auto;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 5%;
    background-color: #ffffff;
    border-radius: 50px;
    border: 1px solid #dcdcdc;
}

.loader, .loader:after {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.loader {
    margin: 0 auto;
    position: relative;
    text-indent: -9999em;
    border-top: .4em solid #754bbf;
    border-right: .4em solid #754bbf;
    border-bottom: .4em solid #754bbf;
    border-left: .4em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
