html, body {
    color: #555;
    background: #FFF;
    /*background: linear-gradient(to bottom right, #8E2DE2, #4A00E0);*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;    */
}

#detect-result {
    position: absolute;
    top: 100px;
    left: 40px;
    width: 300px;
}

/* ============
   Cropper
   ============ */

.cropper-view {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 10px 0 0 0;
    overflow: hidden;
}

.cropper-view .image-view > .thumbnail-view {
    width: 100%;
    display: block;
}

#crop-area {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    width: auto;
    height: auto;
    transition: top 0.12s, left 0.12s, right 0.12s, bottom 0.12s;
}
#crop-area:after {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    content: ' ';
    border: 4px solid #fff;
}
#crop-area .dimmer-top, 
#crop-area .dimmer-right, 
#crop-area .dimmer-bottom, 
#crop-area .dimmer-left {
    position: absolute;
    width: 999px;
    height: 999px;
    background-color: #000;
    opacity: 0.6;
}
#crop-area .dimmer-top {
    top: -999px;
    left: 0;
}
#crop-area .dimmer-right {
    top: 0;
    right: -999px;
}
#crop-area .dimmer-bottom {
    bottom: -999px;
    right: 0;
}
#crop-area .dimmer-left {
    bottom: 0;
    left: -999px;
}

.cropper-center { display: none; }
.cropper-view-box { outline: 4px solid #ffffff; }
.cropper-line { background-color: rgba(255, 255, 255, 0); }
.cropper-point {
    background-color: rgba(255, 255, 255, 0);
}
.cropper-dashed, .cropper-modal { opacity: 0.7 }

/* =================
   Results
   ================= */

.results {
    margin: 10px 0 0;
}

.results .label {    
    margin-top: 20px;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.results a {
    color: #555;
    text-decoration: none;
}

.results .divider {
    width: 100%;
    height: 1px;
    margin: 20px auto 0 auto;
    background: #eee;
}

/* =================
   Detection Results
   ================= */

#results_detection {
    display: none;
}

#detection_list {
    margin-top: 10px;
    text-align: left;
}

#detection_list .item {    
    display: inline-block;
    font-size: 12px; 
}

#detection_list a {
    display: inline-block;
    margin: 10px 10px 0 0;
    padding: 5px 10px 5px 10px;    
    background: rgba(0, 0, 0, 0.05);
}

#detection_list .select > a {
    background: #9F6DFA;
    color: #fff;
}

/* ======================
   Classification Results
   ====================== */

#results_classification {
    text-align: left;
}

#results_classification > .details-list {
    margin-top: 5px;
}

#results_classification .item {    
    margin: 10px 10px 0 0;
    padding: 0;
    font-size: 14px;
    display: inline-block;    
}

#results_classification .item > .type {    
    font-size: 12px;    
}

#results_classification .item > .value {        
    color: #9F6DFA;
    font-weight: 600;
}

#attribute_list {
    display: none;
    text-align: left;
    margin-top: 5px;
}

#attribute_list > .item {
    margin: 10px 20px 0 0;
    font-size: 14px;
    display: inline-block;    
}

#attribute_list .item .label {
    font-size: 12px;
}

#attribute_list .item .value {
    color: #9F6DFA;
    font-weight: 600;
}

/* ==============
   Details
   ============== */

#api-type {
    margin: 0 50px 0 380px;
}

#search-options {
    margin: 50px 50px 0 380px;
}

#details {
    width: 100%;
    padding: 20px 0 10px;
    text-align: left;
    font-size: 14px;
}

#details > .label {
    text-align: left;
    font-weight: 600;
}

#details .label.small {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
}

#details .category-list .label {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
}

#details .divider {
    width: 100%;
    height: 1px;
    margin: 20px auto 0 auto;
    background: #eee;
}

#details .gender, .category {
    margin: 0 5px 10px 0;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    font-size: 12px;    
    text-decoration: none;
    background: #ccc;
    color: #fff;
    /*border-radius: 3px;*/
}

#details .gender.select, .category.select {
    background: #9F6DFA;
    color: #fff;
}

/* ========
   Tab menu
   ======== */

.tab {
  overflow: hidden;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  color: #ccc;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  text-decoration: underline;
  color: #555;
}

.tabcontent {
  display: none;
}

.tabcontent.active {
  display: block;
}

/* ==============
   Search Results
   ============== */

.mode {
    display: inline-block;
}

.pretty.p-default:not(.p-fill) input:checked~.state.p-primary-o label:after {
    background-color: #9F6DFA !important;
}

.pretty input:checked~.state.p-primary-o label:before, .pretty.p-toggle .state.p-primary-o label:before {
    border-color: #9F6DFA;
    border-top-color: #9F6DFA;
    border-right-color: #9F6DFA;
    border-bottom-color: #9F6DFA;
    border-left-color: #9F6DFA;
}

#results_search {
    margin: 50px 50px 50px 380px;
}

#result-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}

#results_search > .label {
    margin-bottom: 16px;
}

/* ======
   Grid Item
   ====== */

.grid-item {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background: #FFF;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border: 2px solid #ececec;
}

.grid-item .thumbnail {
    width: 100%;
    height: 200px;
    display: block;
    background-size: cover;    
}

.view-button {    
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 5px;
    background: #9F6DFA;
}

.grid-item .view-button > img {
    width: 20px;
    height: 20px;
    margin: 10px;
}

.grid-item > .name {
    padding: 10px;
    max-height: 2.8em;
    min-height: 2.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.grid-item > .name > a {
    font-size: 12px;
    color: #555;
    text-decoration: none;
    word-break: break-all;
}

.grid-item > .price {
    padding: 0 10px 10px 10px;
    text-align: right;
}

.grid-item .price > a {
    font-size: 12px;
    color: #9F6DFA;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .view-button { display: none; }
    .grid-item:hover .view-button { display: inline-block; }
}
