/*
    description
*/

.description {
    width: 100%;
    padding: 10px 20px 20px 20px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}
@media (min-width: 480px) {
    .description {
        padding: 60px 40px 80px 40px;
    }
}
@media (min-width: 768px) {
    .description {
        font-size: 32px;
    }
}

/*
    user inputs
*/

.user-inputs {
    text-align: center;
    padding: 10px 20px;
}
@media (min-width: 480px) {
    .user-inputs {
        padding: 40px;
    }
}

#input_url {
    width: 100%;
    max-width: 600px;
    height: 50px;
    margin: 0 0 0 -20px;
    padding: 20px 60px 20px 30px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    border: none;
    border-radius: 100px;
    color: #555;
}

.user-inputs > .button-upload {
    line-height: 50px;
    margin: 0 0 0 -40px;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    color: #555;
}

/*
    demo
*/

.demo {
    padding: 20px;
}
@media (min-width: 480px) {
    .demo {
        margin: 40px 0 0 0;
        padding: 40px;
    }
}

.demo > .label {
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 20px;  
    font-weight: 200;   
}

@media (min-width: 768px) {
    .demo > .label {
        font-size: 24px;
    }
}


.demo > .list {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
@media (min-width: 480px) {
    .demo > .list {
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
}

.demo > .list > .grid-item {
    width: 100%;
    box-sizing: border-box;
    background: #FFF;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.demo .grid-item a {
    position: relative;
    display: block;
    height: 300px;
    overflow: hidden;
}

.demo .grid-item .thumbnail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
}

.demo .grid-item .thumbnail.vertical {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .demo > .list > .grid-sizer { width: 100%; }
}
