html, body {
    height: 100%;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    font-size: 14px;
    color: #555;
    background: linear-gradient(to bottom right, #8E2DE2, #4A00E0);
    background-repeat: no-repeat;
    background-attachment: fixed;
}   

a {
    color: #555;
}

/*
    shadow
*/

.shadow {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.shadow-sm {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

/*
    focus
*/

*:focus {
    outline: none;
}

/*
    block
*/

.block {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background: #fff;    
}

.block.primary {
    background: #9F6DFA;
}

.block.transparent {
    background: transparent;
}

.block.gradient {
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #fff, #9F6DFA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #fff, #9F6DFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.block > .label {
    margin-bottom: 20px;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

/*
    align   
*/

.text-align-left {
    text-align: left;
}