html, body {
    color: #555;
    background: #FFF;
}

#detect-result {
    margin: 0 20px 40px;
    overflow: hidden;
}
@media (min-width: 768px) {
    #detect-result {
        position: absolute;
        top: 0;
        left: 40px;
        width: 200px;
        margin-left: 0;
        margin-right: 0;
    }
}
@media (min-width: 1024px) {
    #detect-result {
        width: 300px;
    }
}

/* ============
   Cropper
   ============ */

.cropper-view {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 0 20px;
}
@media (min-width: 480px) {
    .cropper-view {
        width: 200px;
        float: left;
        margin-right: 20px;
    }
}
@media (min-width: 1024px) {
    .cropper-view {
        width: 100%;
        float: none;
        margin-right: 0;
    }
}

.cropper-view .image-view > .thumbnail-view {
    width: 100%;
    display: block;
}

#crop-area {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    width: auto;
    height: auto;
    transition: top 0.12s, left 0.12s, right 0.12s, bottom 0.12s;
}
#crop-area:after {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    content: ' ';
    border: 4px solid #fff;
}
#crop-area .dimmer-top, 
#crop-area .dimmer-right, 
#crop-area .dimmer-bottom, 
#crop-area .dimmer-left {
    position: absolute;
    width: 999px;
    height: 999px;
    background-color: #000;
    opacity: 0.6;
}
#crop-area .dimmer-top {
    top: -999px;
    left: 0;
}
#crop-area .dimmer-right {
    top: 0;
    right: -999px;
}
#crop-area .dimmer-bottom {
    bottom: -999px;
    right: 0;
}
#crop-area .dimmer-left {
    bottom: 0;
    left: -999px;
}

.cropper-center { display: none; }
.cropper-view-box { outline: 4px solid #ffffff; }
.cropper-line { background-color: rgba(255, 255, 255, 0); }
.cropper-point {
    background-color: rgba(255, 255, 255, 0);
}
.cropper-dashed, .cropper-modal { opacity: 0.7 }

/* =================
   Results
   ================= */

#results {
    padding-bottom: 20px;
}
@media (min-width: 480px) {
    #results {
        margin-left: 220px;
    }
}
@media (min-width: 768px) {
    #results {
        margin-left: 0;
    }
}

#results .label {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

#results a {
    color: #555;
    text-decoration: none;
}

#results .divider {
    width: 100%;
    height: 1px;
    margin: 20px auto;
    background: #eee;
}

/* =================
   Detection Results
   ================= */

#results_detection {
}

#detection_list {
    margin-top: 10px;
    text-align: left;
}

#detection_list .item {    
    display: inline-block;
    font-size: 12px;
}

#detection_list a {
    display: inline-block;
    margin: 10px 10px 0 0;
    padding: 5px 10px 5px 10px;    
    background: rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
}

#detection_list .select > a {
    background: #9F6DFA;
    color: #fff;
}

/* ======================
   Attributes list
   ====================== */

#attribute_list {
}
#attribute_list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#attribute_list li {
    margin: 10px 20px 0 0;
    font-size: 14px;
    display: inline-block;    
}

#attribute_list li .label {
    font-size: 12px;
}

#attribute_list li .value {
    color: #9F6DFA;
    font-weight: 600;
    text-transform: uppercase;
}

#attribute_list li .type {
    font-size: 12px;
    text-transform: uppercase;
}

/* ==============
   Search options
   ============== */

#api-type {
    margin: 0 20px;
    float: left;
}
@media (min-width: 768px) {
    #api-type {
        margin: 0 50px 0 280px;
    }
}
@media (min-width: 1024px) {
    #api-type {
        margin-left: 380px;
    }
}

#search-options {
    text-align: right;
    margin: 0 20px;
}
@media (min-width: 768px) {
    #search-options {
        margin-right: 40px;
        margin-left: 280px;
    }
}
@media (min-width: 1024px) {
    #search-options {
        margin-left: 380px;
    }
}
#search-options .toggle {
    position: relative;
    top: -4px;
    padding: 5px 10px;
    font-size: 12px;
    background: #ccc;
    color: #fff;
    border: 0 none;
}
#search-options.on .toggle {
    background: #9F6DFA;
}
#search-options .options {
    font-size: 14px;
    flex-wrap: wrap;
    margin: 25px 0 40px;
    display: none;
    text-align: left;
}
#search-options.on .options {
    display: flex;
}
#search-options .options > div {
    padding-right: 30px;
}

#search-options .label.small {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
}

#search-options .category-list .label {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
}

#search-options .gender, .category {
    margin: 0 5px 10px 0;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    font-size: 12px;    
    text-decoration: none;
    background: #ccc;
    color: #fff;
}

#search-options .gender.select,
#search-options .category.select {
    background: #9F6DFA;
    color: #fff;
}

#search-option-subcategory {
    display: none;
}
#search-option-subcategory.on {
    display: block;
}

/* ========
   Tab menu
   ======== */

.tab {
  overflow: hidden;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  color: #ccc;
  margin-right: 30px;
}

.tab button.active {
  text-decoration: underline;
  color: #555;
}

.tabcontent {
  display: none;
}

.tabcontent.active {
  display: block;
}

/* ==============
   Search Results
   ============== */

.mode {
    display: inline-block;
}

.pretty.p-default:not(.p-fill) input:checked~.state.p-primary-o label:after {
    background-color: #9F6DFA !important;
}

.pretty input:checked~.state.p-primary-o label:before, .pretty.p-toggle .state.p-primary-o label:before {
    border-color: #9F6DFA;
    border-top-color: #9F6DFA;
    border-right-color: #9F6DFA;
    border-bottom-color: #9F6DFA;
    border-left-color: #9F6DFA;
}

#result-list {
    position: relative;
    margin: 30px 20px 30px;
}
@media (min-width: 768px) {
    #result-list {
        margin: 20px 40px 50px 280px;
    }
}
@media (min-width: 1024px) {
    #result-list {
        margin-left: 380px;
    }
}
#result-list:before {
    position: absolute;
    top: 20px;
    left: 20px;
    content: ' ';
    width: 50px;
    height: 50px;
    background: url(../images/loading.gif) no-repeat 50% 50% / 100% 100%;
    opacity: 0;
}
#result-list.loading:before {
    transition-delay: 0.8s;
    opacity: 1;
}

.grid-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    min-height: 200px;
}
@media (min-width: 480px) {
    .grid-list {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

/* ======
   Grid Item
   ====== */

.grid-item {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background: #FFF;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border: 2px solid #ececec;
}

.grid-item .thumbnail {
    width: 100%;
    height: 200px;
    display: block;
    background-size: cover;    
}

.view-button {    
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 5px;
    background: #9F6DFA;
}

.grid-item .view-button > img {
    width: 20px;
    height: 20px;
    margin: 10px;
}

.grid-item > .name {
    margin: 10px;
    max-height: 2.8em;
    min-height: 2.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.grid-item > .name > a {
    font-size: 12px;
    color: #555;
    text-decoration: none;
    word-break: break-all;
}

.grid-item > .price {
    padding: 0 10px 10px 10px;
    text-align: right;
}

.grid-item .price > a {
    font-size: 12px;
    color: #9F6DFA;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .view-button { display: none; }
    .grid-item:hover .view-button { display: inline-block; }
}
