html, body {
    height: 100%;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    font-size: 14px;
    color: #555;
    background: linear-gradient(to bottom right, #8E2DE2, #4A00E0);
    background-repeat: no-repeat;
    background-attachment: fixed;
}   

/*
    navbar
*/

.navbar {
    max-width: 960px;
    padding: 40px;
    overflow: auto;
}

.navbar.full {
    max-width: 100%;
}

.navbar > .title {
    float: left;
    display: inline-block;
}

.navbar > .title > img {
    height: 30px;
    margin: 5px 0 5px 0;
    vertical-align: middle;
}

.navbar > .menu {
    float: right;
    vertical-align: middle;
}

.navbar > ul { margin: 0; padding: 0; }

.navbar > ul > li {    
    margin-left: 20px;
    padding: 0;
    margin: 0;
    border: none;
    display: inline-block;
    list-style: none;
}

.navbar > ul > li > .button {
    line-height: 40px;
    padding: 0 0 0 20px;
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    border-radius: 100px;
}

.navbar > ul > li > .button > i {
    font-size: 20px;
}

/*
    setting
*/

#setting-div {
    margin-top: -240px;
    -webkit-transition: margin 0.4s;
    transition: margin 0.4s;
    padding: 20px;
    text-align: left;
}

#input_apikey {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;    
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid #dcdcdc;
    border-radius: 0;
    -webkit-appearance: none;
    color: #555;
}

/*
    shadow
*/

.shadow {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.shadow-sm {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

/*
    focus
*/

*:focus {
    outline: none;
}

/*
    block
*/

.block {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background: #fff;    
}

.block.primary {
    background: #9F6DFA;
}

.block.transparent {
    background: transparent;
}

.block.gradient {
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #fff, #9F6DFA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #fff, #9F6DFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.block > .label {
    margin-bottom: 20px;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

/*
    align   
*/

.text-align-left {
    text-align: left;
}