/* ==============
   Contents Header
   ============== */

.main .head > .divider {
    width: 20px;
    height: 2px;
    display: inline-block;
    background-color: #000000;
}

.main .head > .title {
    margin-top: 5px;
    color: #000000;
    font-size: 16px;
    font-weight: 200;
}

/* ==============
   Abstract
   ============== */

.main > .abstract {
    background-color: #f5f5f5;
}

.main > .abstract > .inside {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
    text-align: left;
    font-size: 16px;
    font-weight: 200;
}

.main > .abstract .hl {
    margin-top: 5px;
    display: block;
    font-size: 16px;
    font-weight: 200;
    color: #754bbf;
}

.main > .abstract .link {
    display: inline-block;
    margin: 20px 15px 0 0;
    color: #000000;
}

.main > .abstract a.link {
    font-size: 16px;
    text-decoration: solid;
}

/* ==============
   Demo
   ============== */

.main > .demo-images > .inside {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
    text-align: left;
}

.main > .demo-images .list {
    margin-top: 30px;
}

/*Mobile*/
.main > .demo-images .list img {
    width: 45.8%;
    height: 30vh;
    margin: 5px;
    float: left;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

.main > .demo-images .upload-button {
    width: 45.8%;
    height: 30vh;
    margin: 5px;
    float: left;
    display: flex;
    color: #ffffff;
    background-color: #000000;
    font-size: 15px;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

/*Tablet & Desktop*/
@media all and (min-width:768px) {
    .main > .demo-images .list img {
        width: 130px;
        height: 130px;
    }

    .main > .demo-images .upload-button {
        width: 130px;
        height: 130px;
    }
}

.main > .demo-inputs {
    margin-top: 40px;
    background-color: #f5f5f5;
}

.main > .demo-inputs > .inside {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
    text-align: left;
}

.main > .demo-inputs .input-url {
    max-width: 600px;
    margin: 0 auto;
}

.main > .demo-inputs .input-url > input {
    width: 100%;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 200;
    border: 1px solid #dcdcdc;
    border-radius: 0;
    -webkit-appearance: none;
}

